.footerContainer {
    /* z-index: 3;
    padding-top: 10%;
    display: flex; */
    z-index: 3;
    height: 100vh;
    background-color: var(--background-color-dark)
}

.footerBody {
    padding-top: 20%;
    color: white;
    width: 90%;
    font-weight: 100;
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

