:root{
  --primary-color:#3a0fe5;
  --primary-colorWithOpacity:#6644ed;
  --secondary-color:#d5ef0d;
  --warning-color:#FFC107;
  --danger-color:#DC3545;
  --danger-colorWithOpacity:#fdf2f3;
  --info-color:#17A2B8;
  --muted-color:#6C757D;
  --success-color:#28A745;
  --text-color-purity:#fff;
  --text-color-dark:#000;
  --background-color-light:#fff;
  --background-color-dark:#000;
  --background-color-ebony:#5C5B5B;
  --background-color-metal:#969696;
  --background-color-jade:#313131;
  --background-color-raven:#050301;
  --background-color-leather:#0B0705;
  --background-color-pulp:#F7EDC9;
  --color-darkTeal:rgb(0, 255, 191);
  --color-TealWithOpacity:#F5FCF9;
  --color-champagne:#EEE3D0;
  --fontsize-strong:40px;
  --fontsize-tough:32px;
  --fontsize-pearl:28px;
  --fontsize-trim:24px;
  --fontsize-glossy:20px;
  --fontsize-virgin:18px;
  --fontsize-brittle:16px;
}
::-moz-selection { 
  color: rgb(0, 0, 0);
  background: var(--color-darkTeal);
}

::selection {
  color: rgb(0, 0, 0);
  background: var(--color-darkTeal);
}
html {
  scrollbar-width: none;
}

*{

  box-sizing: border-box;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Ubuntu', sans-serif;

}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.main{
  max-height: 100vh;
}

.stacking-slide {
  width: 100%;
  height: 100vh;
}


.stacking-slide:nth-last-child(1){
  height: 100vh;
} 

.content {
  margin: 64px auto;
  max-width: 1280px;
}
.content .flex {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.content .flex .img {
  width: 44%;
  height: 340px;
  background-color: red;
  margin-bottom: 64px;
}